:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}

/* Topo */
header{
  padding: 3vw 10vw 3vw 10vw;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1{
  font-size: 1.5rem;
  font-weight: bold;
}
header nav ul{
display: flex;
}
header nav ul li{
  margin: 0px 16px 0px 16px;
}
header nav ul li.atual a{
  color: #FB2E86;
}
section.banner{
  display: flex;
  background-color: #F2F0FF;
  padding: 3vw 10vw 3vw 10vw;
}
section.banner div p.destaque{
  color: #FB2E86;
  font-weight: bold;
  font-size: 0.9rem;
}
section.banner div h2{
  font-weight: bold;
  font-size: 2.9rem;
}
section.banner div p{
  font-size: 0.7rem;
  color: #8A8FB9;
}
section.banner div p button{
  background-color: #FB2E86;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
}
section.banner div.imagem{
  width: 20%;
  margin: 0 0 0 30%;
}
div p{
  font-size: 0.9rem;
}
section.produtos{
  padding: 3vw 10vw 3vw 10vw;
}
section.produtos h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #1A0B5B;
  margin: 3vw;
}
section.produtos ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.produtos ul li{
  width: 30%;
}
section.produtos ul li p{
  background-color: #f7f7f7;

}
section.invite{
  padding: 3vw 10vw;
  background: url(../src/images/back-section-update.png);
  text-align: center;
  padding: 8vw;
  background-position: center;
}
section.invite h2{
  font-size: 2.3rem;
  color: #151875;
  font-weight: bold;
}
section.invite p button{
  background-color: #FB2E86;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 5mm 5mm 5mm 5mm;
}
footer{
display: flex;
justify-content: space-between;
padding: 3vw 10vw;
background-color: #EEEFFB;

}
footer div h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}
footer div h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
}
footer div ul li{
  margin: 10px 10px 10px 10px;
  color: #8A8FB9;
}
footer div p{
margin: 10px 10px 10px 10px;
color: #8A8FB9;
}
footer div ul li a{
color: #8A8FB9;
}